.projectPage{
    margin: 0;
    padding: 0;
    background-size: cover;
}

.projectBody{
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    padding: .15vw;
}

#header{
    font-size: 4vw;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}