.nav{
    background-color: #0A0A0A;
    width: 100vw;
}

.ulList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 2vw;
}

.liList:hover {
    background-color: #474747;
}

.liList{
    font-family: 'Times New Roman', Times, serif;
    float: left;

}

.link{
    display: block;
    color: #F7F7F7;
    text-align: center;
    padding: .75vw .75vw;
    text-decoration: none;
}

/* .active, #projects{
    display: none;
    padding: 0 18px;
    background-color: #848C8E;
    overflow: hidden;
} */