.contactInfo{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-size: cover;
}

.contactBody{
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    margin-top: 1.5vh;
}

#header{
    font-size: 4vw;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.contactList{
    text-align: center;
    list-style: none;
    font-size: 1.5vw 'Times New Roman', Times, serif;
}

#endCard{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}